.button-save {
    background-color: blueviolet;
    color: blanchedalmond;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-save:hover {
    background-color: darkviolet;
  }
  